body{
	color:black;
	font-size:1em;
}

.negrita {
	font-weight: bold;
}

.izquierda{
	text-align:left;
}

#header{
	font-style: italic;
	background-color: #E6E6E6;
}

#body{
	margin-top:5em;
	margin-left:1em;
}

#footer{
	font-weight: bold;
	background-color: #E6E6E6;
	margin-top:5em;
}

#tablaIndice{
	
	width: 75%;
	border: 1px black solid;
	text-align: center;
	margin: auto;
}


#tablaIndice #columna1 {
	width: 25%;
}


#tablaIndice tr:nth-child(odd) {
    background-color:#E6E6E6;
}
#tablaIndice tr:nth-child(even) {
    background-color:#E4E4E4;
}

